.background-images {
  background-repeat: no-repeat;
  background-position: top, bottom;

  @include media(mobile-only) {
    background-size: 100% 460px, 100% 1325px;
    background-position: right 0 top 0, right 0 bottom 211px;

    background-image: url('../images/background-images/spot-top-sm.png'),
      url('../images/background-images/spot-bot-sm.png');
    background-image: url('../images/background-images/spot-top-sm.webp'),
      url('../images/background-images/spot-bot-sm.webp');

    @include media(retina) {
      background-image: url('../images/background-images/spot-top-sm@2x.png'),
        url('../images/background-images/spot-bot-sm@2x.png');

      background-image: -webkit-image-set(
        url('../images/background-images/spot-top-sm@2x.webp') 2x,
        url('../images/background-images/spot-bot-sm@2x.webp') 2x
      );
    }
  }

  @include media(tablet-only) {
    background-size: 380px 519px, 100% 622px, 100% 1200px;
    background-position: top right 102px, right 0 top 0, right 0 bottom 105px;

    background-image: url('../images/header/header_md.png'),
      url('../images/background-images/spot-top-md.png'),
      url('../images/background-images/spot-bot-md.png');

    background-image: url('../images/header/header_md.webp'),
      url('../images/background-images/spot-top-md.webp'),
      url('../images/background-images/spot-bot-md.webp');

    @include media(retina) {
      background-image: url('../images/header/header_md@2x.png'),
        url('../images/background-images/spot-top-md@2x.png'),
        url('../images/background-images/spot-bot-md@2x.png');

      background-image: -webkit-image-set(
        url('../images/header/header_md@2x.webp'),
        url('../images/background-images/spot-top-md@2x.webp'),
        url('../images/background-images/spot-bot-md@2x.webp')
      );
    }
  }

  @include media(desktop) {
    background-size: 180px auto, 579px 661px, 100% 1035px, 100% 1555px;
    background-position: calc(50% - 620px) 501px, top right, right 0 top 0,
      right 0 bottom 105px;

    background-image: url('../images/about-us/about-us3_lg.png'),
      url('../images/header/header_lg.png'),
      url('../images/background-images/spot-top-lg.png'),
      url('../images/background-images/spot-bot-lg.png');

    background-image: url('../images/about-us/about-us3_lg.webp'),
      url('../images/header/header_lg.webp'),
      url('../images/background-images/spot-top-lg.webp'),
      url('../images/background-images/spot-bot-lg.webp');

    @include media(retina) {
      background-image: url('../images/about-us/about-us3_lg@2x.png'),
        url('../images/header/header_lg@2x.png'),
        url('../images/background-images/spot-top-lg@2x.png'),
        url('../images/background-images/spot-bot-lg@2x.png');

      background-image: url('../images/about-us/about-us3_lg@2x.webp'),
        url('../images/header/header_lg@2x.webp'),
        url('../images/background-images/spot-top-lg@2x.webp'),
        url('../images/background-images/spot-bot-lg@2x.webp');
    }
  }
}

.background-confetti {
  background-repeat: no-repeat;

  @include media(tablet-only) {
    background-position: right calc(50% - 300px) bottom 185px;
    background-size: 200px, 350px;

    background-image: url('../images/registration/registration2_md.png');
    background-image: url('../images/registration/registration2_md.webp');

    @include media(retina) {
      background-image: url('../images/registration/registration2_md@2x.png');
      background-image: url('../images/registration/registration2_md@2x.webp');
    }
  }

  @include media(desktop) {
    background-position: right calc(50% - 400px) bottom 185px;
    background-size: 400px, 544px;

    background-image: url('../images/registration/registration2_lg.png');
    background-image: url('../images/registration/registration2_lg.webp');

    @include media(retina) {
      background-image: url('../images/registration/registration2_lg@2x.png');
      background-image: url('../images/registration/registration2_lg@2x.webp');
    }
  }
}
