@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: #2e2520;
  background-color: #ffffff;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
    background-color: #fffff9;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
  transition: color var(--transition-time) var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--secondary-accent-cl);
  }
}

.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.background-images {
  background-repeat: no-repeat;
  background-position: top, bottom;

  @include media(mobile-only) {
    background-size: 100% 460px, 100% 1303px;
    background-position: right 0 top 0, right 0 bottom 211px;

    background-image: url('../images/body/spot-top-sm.png'),
      url('../images/body/spot-bot-sm.png');

    @include media(retina) {
      background-image: url('../images/body/spot-top-sm@2x.png'),
        url('../images/body/spot-bot-sm.png');
    }
  }

  @include media(tablet-only) {
    background-size: 100% 622px, 100% 1456px;
    background-position: right 0 top 0, right 0 bottom 105px;

    background-image: url('../images/body/spot-top-md.png'),
      url('../images/body/spot-bot-md.png');

    @include media(retina) {
      background-image: url('../images/body/spot-top-md@2x.png'),
        url('../images/body/spot-bot-md@2x.png');
    }
  }

  @include media(desktop) {
    background-size: 100% 1035px, 100% 2030px;

    background-image: url('../images/body/spot-top-lg.png'),
      url('../images/body/spot-bot-lg.png');

    @include media(retina) {
      background-image: url('../images/body/spot-top-lg@2x.png'),
        url('../images/body/spot-bot-lg@2x.png');
    }
  }
}
