@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  @include font-size(16px, 20px);

  @include media(mobile) {
    color: var(--main-text-cl);
    background-color: var(--main-bg-cl);
  }

  @include media(desktop) {
    @include font-size(18px, 22px);

    background-color: var(--secondary-bg-cl);
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
  transition: color var(--transition-time) var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--secondary-accent-cl);
  }
}

.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.background-images {
  background-repeat: no-repeat;
  background-position: top, bottom;

  @include media(mobile-only) {
    background-size: 100% 460px, 100% 1328px;
    background-position: right 0 top 0, right 0 bottom 211px;

    background-image: url('../images/background-images/spot-top-sm.png'),
      url('../images/background-images/spot-bot-sm.png');

    @include media(retina) {
      background-image: url('../images/background-images/spot-top-sm@2x.png'),
        url('../images/background-images/spot-bot-sm.png');
    }
  }

  @include media(tablet-only) {
    background-size: 380px 519px, 100% 622px, 100% 1200px;
    background-position: top right 102px, right 0 top 0, right 0 bottom 105px;

    background-image: url('../images/header/header_md.png'),
      url('../images/background-images/spot-top-md.png'),
      url('../images/background-images/spot-bot-md.png');

    @include media(retina) {
      background-image: url('../images/header/header_md@2x.png'),
        url('../images/background-images/spot-top-md@2x.png'),
        url('../images/background-images/spot-bot-md@2x.png');
    }
  }

  @include media(desktop) {
    background-size: 180px auto, 579px 661px, 100% 1035px, 100% 1675px;
    background-position: calc(50% - 620px) 501px, top right, right 0 top 0,
      right 0 bottom 105px;

    background-image: url('../images/about-us/about-us3_lg.png'),
      url('../images/header/header_lg.png'),
      url('../images/background-images/spot-top-lg.png'),
      url('../images/background-images/spot-bot-lg.png');

    @include media(retina) {
      background-image: url('../images/about-us/about-us3_lg@2x.png'),
        url('../images/header/header_lg@2x.png'),
        url('../images/background-images/spot-top-lg@2x.png'),
        url('../images/background-images/spot-bot-lg@2x.png');
    }
  }
}

.background-confetti {
  background-repeat: no-repeat;

  @include media(tablet-only) {
    background-position: right calc(50% - 300px) bottom 185px;
    background-size: 200px, 350px;

    background-image: url('../images/registration/registration2_md.png');

    @include media(retina) {
      background-image: url('../images/registration/registration2_md@2x.png');
    }
  }

  @include media(desktop) {
    background-position: right calc(50% - 400px) bottom 185px;
    background-size: 400px, 544px;

    background-image: url('../images/registration/registration2_lg.png');

    @include media(retina) {
      background-image: url('../images/registration/registration2_lg@2x.png');
    }
  }
}
