<section class="container about-us">
  <div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/about-us/about-us_lg.png    1x,
          ./images/about-us/about-us_lg@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/about-us/about-us_md.png    1x,
          ./images/about-us/about-us_md@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/about-us/about-us_sm.png    1x,
          ./images/about-us/about-us_sm@2x.png 2x
        "
      />
      <img
        class="img about-us__img"
        src="./images/about-us/about-us_sm.png"
        alt="Donut with box and cup"
        width="279"
        height="298"
      />
    </picture>
  </div>
  <div class="about-us__block">
    <h2 class="section-title">About us</h2>
    <div class="about-us__paragraph">
      <p class="about-us__text">
        Oh My Donut is the shop which adores tasty deserts and spend hours to
        create sophisticated donuts which will save the world!
      </p>
      <p class="about-us__text">
        Eva has been baking since she was six years old and over the last 49
        years, she has created hundreds of cakes for weddings and has baked for
        many celebrities. Eva and our shop have received multiple awards &
        recognition for excellence.
      </p>
      <p class="about-us__text is-hidden">
        We are going to teach you how to cook with passion and sparkles in your
        eyes! We love what we do and believe you will enjoy our cooking
        atmosphere!
      </p>
    </div>
    <button class="button__link about-us__button">Read more</button>
  </div>
</section>
