<section class="contact" id="contacts">
  <div class="container">
    <h2 class="contact__title--primary section-title">Contact</h2>
    <form class="contact__form">
      <h3 class="contact__title">We will answer any question!</h3>
      <div class="contact__group">
        <input
          type="email"
          class="contact__input contact__input--first"
          id="contact-email"
          placeholder="&nbsp;"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          title="valid@email.com"
          required
        />
        <label for="contact-email" class="contact__label">Email</label>
      </div>
      <div class="contact__group">
        <input
          type="text"
          class="contact__input contact__input--second"
          id="question"
          placeholder="&nbsp;"
        />
        <label for="question" class="contact__label">Type your question</label>
      </div>
      <button type="submit" class="contact__button button">Send</button>
    </form>
  </div>
</section>
