<section class="contact container">
    <h2 class="contact__title--primary section-title">Contact</h2>
    <form class="contact__form">
        <h3 class="contact__title">We will answer any question!</h3>
        <label>
            <input type="email" class="contact__input contact__input--first" placeholder="Email" />
        </label>
        <label>
            <input type="text" class="contact__input  contact__input--second" placeholder="Type your question" />
        </label>
        <button type="submit" class="contact__button button">Send</button>
    </form>
</section>