<footer class="footer">
  <div class="container footer__container">
    <ul class="list socials-list footer__socials-list">
      <li class="socials-list__item">
        <a
          class="socials-list__link link"
          href="https://twitter.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="twitter"
        >
          <svg class="socials-list__icon" width="16px" height="16px">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list__item">
        <a
          class="socials-list__link link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram"
        >
          <svg class="socials-list__icon" width="16px" height="16px">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list__item">
        <a
          class="socials-list__link link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook"
        >
          <svg class="socials-list__icon" width="16px" height="16px">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="list footer-contacts">
      <li class="footer-contacts__item">
        <a class="link footer-contacts__link" href="tel:9102228855">
          <svg class="footer-contacts__icon" width="13" height="13">
            <use href="./images/icons.svg#phone"></use>
          </svg>
          (910)222-8855</a
        >
      </li>
      <li class="footer-contacts__item">
        <a
          class="link footer-contacts__link"
          href="https://goo.gl/maps/23sZmJtHrUTLagzo6"
          rel="noopener noreferrer"
          target="_blank"
          aria-label="Our location"
        >
          <svg class="footer-contacts__icon" width="11" height="15">
            <use href="./images/icons.svg#point"></use>
          </svg>
          New York</a
        >
      </li>
    </ul>
  </div>
</footer>
