<!-- Секція хедер -->

<header class="header">
  <div class="header__container container">
    <a class="header__logo logo" href="./index.html">
      <svg class="logo__icon" width="96px" height="50px">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nan__link link" href="#about-us">About us</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#program">Program</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#speakers">Speakers</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#price">Price</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#reviews">Reviews</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <h1 class="title">Donut Masterclass with the Donut King</h1>
    <h2 class="subtitle">Hosted by Eva Green</h2>
    <a class="button__link button" href="#register">Register</a>
    <ul class="socials__list list">
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="twitter"
        >
          <svg class="logo__icon" width="16px" height="16px">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram"
        >
          <svg class="logo__icon" width="16px" height="16px">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook"
        >
          <svg class="logo__icon" width="16px" height="16px">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
