<button class="menu__btn" type="button" data-menu-button aria-expanded="false">
  <svg class="menu__icon" width="30" height="16">
    <use class="menu__icon-menu" href="./images/icons.svg#menu"></use>
    <use class="menu__icon-close" href="./images/icons.svg#close"></use>
  </svg>
</button>

<!-- Мобільне меню -->
<div class="menu">
  <div class="menu__container">
    <a class="header__logo logo" href="./index.html">
      <svg class="logo__icon" width="190px" height="85px">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nan__link link" href="#about-us">About us</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#program">Program</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#speakers">Speakers</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#price">Price</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#reviews">Reviews</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
