<button
  class="menu__btn is-open"
  type="button"
  data-menu-button
  aria-expanded="false"
>
  <svg
    class="menu__icon"
    aria-label="Переключатель мобильного меню"
    width="30"
    height="16"
  >
    <use class="menu__close" href="./images/icons.svg#close"></use>
    <use class="menu__menu" href="./images/icons.svg#menu"></use>
  </svg>
</button>

<!-- Мобільне меню -->
<div class="menu is-open" data-menu>
  <div class="menu__container container">
    <a class="header__logo--menu logo" href="./index.html">
      <svg class="logo__icon" width="190" height="85">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav-menu">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nan__link link" href="#about-us">About us</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#program">Program</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#speakers">Speakers</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#price">Price</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#reviews">Reviews</a>
        </li>
        <li class="nav__item">
          <a class="nan__link link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
