<section class="Price">
  <div class="container">
    <h2 class="price__title subtitle">Price</h2>
    <ul class="price__cards list">
      <li class="price__card">
        <h3 class="price__name">Easy start</h3>
        <ul class="price__desc list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="price__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="price__item">-fry and glaze donuts</li>
        </ul>
        <a class="button button__link link" href="#Register">Register</a>
      </li>
      <li class="price__card">
        <h3 class="price__name">I want delicious donuts</h3>
        <ul class="price__desc list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="price__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="price__item">-melt chocolate for decoration</li>
          <li class="price__item">-fry and glaze donuts</li>
          <li class="price__item">
            -donut decoration. painting and various techniques
          </li>
        </ul>
        <a class="button button__link link" href="#Register">Register</a>
      </li>
      <li class="price__card">
        <h3 class="price__name">Premium</h3>
        <ul class="price__desc list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="price__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="price__item">-melt chocolate for decoration</li>
          <li class="price__item">-fry and glaze donuts</li>
          <li class="price__item">
            -donut decoration. painting and various techniques
          </li>
          <li class="price__item">
            -After party and donut tasting with speakers
          </li>
          <li class="price__item">
            -2 private lessons with one of the speakers
          </li>
        </ul>
        <a class="button button__link link" href="#Register">Register</a>
      </li>
    </ul>
  </div>
</section>
