<section class="program container">
    <h2 class="program__title section-title"></h2>>Program</h2>
    <p class="program__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen
        in her New York donut shop!
    </p>
    <ul class="program__list list">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
    </ul>
    <p class="program__text">Come with your dear people and friends and you will spend an unforgettable
        time and will become a real professional in donuts cooking!
    </p>
    <button type="button" class="program-button">Read more</button>
    <div class="program-card">
        <ul class="program-card__list list">
            <li class="program-card__item">
                <p class="program-card__text">Type of the event</p>
                <p class="program-card__details">Cooking classes</p>
                </p>
            </li>
            <li class="program-card__item">
                <p class="program-card__text">Type of the event</p>
                <p class="program-card__details">18:30 (2.5 hours)</p>
            </li>
            <li class="program-card__item">
                <p class="program-card__text">Number of guests</p>
                <p class="program-card__details">1 to 20</p>
            </li>
            <li class="program-card__item">
                <p class="program-card__text">The host speaks</p>
                <p class="program-card__details">English, French</p>
            </li>
        </ul>
    </div>
</section>