<section class="program container" id="program">
  <div class="program__container">
    <div class="program__group">
      <h2 class="program__title section-title">Program</h2>
      <p class="program__text">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="program__list list">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
      </ul>
      <p class="program__text--more" data-text>
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </p>
      <button type="button" class="program__button" data-btn-more>
        <span data-text-more>Read more</span>
        <span class="is-hidden" data-text-less>Less</span>
      </button>
    </div>
    <div class="program-card">
      <ul class="program-card__list list">
        <li class="program-card__item">
          <div class="program-card__item--bottom">
            <picture class="program-card__img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/program/program1_lg.png    1x,
                  ./images/program/program1_lg@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/program/program1_md.png    1x,
                  ./images/program/program1_md@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/program/program1_sm.png    1x,
                  ./images/program/program1_sm@2x.png 2x
                "
              />
              <img
                src="./images/program/program1_sm.png"
                alt="Donut with white and black chocolate"
              />
            </picture>
            <p class="program-card__text">Type of the event</p>
            <p class="program-card__details">Cooking classes</p>
            <svg
              class="program-card__icon"
              aria-label="Icon chef-hat"
              width="19"
              height="19"
            >
              <use href="./images/icons.svg#chef-hat"></use>
            </svg>
          </div>
        </li>
        <li class="program-card__item">
          <div class="program-card__item--bottom">
            <picture class="program-card__img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/program/program2_lg.png    1x,
                  ./images/program/program2_lg@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/program/program2_md.png    1x,
                  ./images/program/program2_md@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/program/program2_sm.png    1x,
                  ./images/program/program2_sm@2x.png 2x
                "
              />
              <img
                src="./images/program/program2_sm.png"
                alt="Donut with white chocolate"
              />
            </picture>
            <p class="program-card__text">Number of guests</p>
            <p class="program-card__details">1 to 20</p>
            <svg
              class="program-card__icon"
              aria-label="Icon people"
              width="19"
              height="19"
            >
              <use href="./images/icons.svg#people"></use>
            </svg>
          </div>
        </li>
        <li class="program-card__item">
          <div class="program-card__item--bottom">
            <picture class="program-card__img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/program/program3_lg.png    1x,
                  ./images/program/program3_lg@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/program/program3_md.png    1x,
                  ./images/program/program3_md@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/program/program3_sm.png    1x,
                  ./images/program/program3_sm@2x.png 2x
                "
              />
              <img
                src="./images/program/program3_sm.png"
                alt="Donut with white chocolate"
              />
            </picture>
            <p class="program-card__text">Time of the event</p>
            <p class="program-card__details">18:30 (2.5 hours)</p>
            <svg
              class="program-card__icon"
              aria-label="Icon clock"
              width="19"
              height="19"
            >
              <use href="./images/icons.svg#clock"></use>
            </svg>
          </div>
        </li>
        <li class="program-card__item">
          <div class="program-card__item--bottom">
            <picture class="program-card__img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/program/program4_lg.png    1x,
                  ./images/program/program4_lg@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/program/program4_md.png    1x,
                  ./images/program/program4_md@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/program/program4_sm.png    1x,
                  ./images/program/program4_sm@2x.png 2x
                "
              />
              <img
                src="./images/program/program4_sm.png"
                alt="Donut with black chocolate"
              />
            </picture>
            <p class="program-card__text">The host speaks</p>
            <p class="program-card__details">English, French</p>
            <svg
              class="program-card__icon"
              aria-label="Icon chat"
              width="19"
              height="19"
            >
              <use href="./images/icons.svg#chat"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
