<section class="registration">
  <div class="container">
    <form class="form">
      <div class="registration__holder">
        <h2 class="registration__title section-title">Registration</h2>
        <p class="registration__data">May 23, 11:00 New York</p>
        <p class="registration__description">
          Apply your personal info <br />
          for registration
        </p>
        <label class="form__label">
          <input
            class="form__input"
            type="text"
            name="user-name"
            placeholder="Your name"
          />
        </label>
        <label class="form__label">
          <input
            class="form__input"
            type="tel"
            name="user-phone"
            placeholder="Phone number"
          />
        </label>
        <label class="form__label">
          <input
            class="form__input"
            type="email"
            name="user-email"
            placeholder="Email"
          />
        </label>
        <button class="button registration__button" type="submit">
          Register
        </button>
      </div>
    </form>
  </div>
</section>
