<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="section-title reviews__title">Reviews</h2>
    <div class="reviews__list">
      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/reviews1_lg.png    1x,
              ./images/reviews/reviews1_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/reviews1_md.png    1x,
              ./images/reviews/reviews1_md@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/reviews1_lg.png"
            alt="photo by John"
            width="152px"
            height="152px"
          />
        </picture>
        <div class="reviews__rate" aria-label="four stars out of five">
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon--empty" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>
        <h3 class="reviews__name">John</h3>
      </div>

      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/reviews2_lg.png    1x,
              ./images/reviews/reviews2_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/reviews2_md.png    1x,
              ./images/reviews/reviews2_md@2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./images/reviews/reviews_sm.png    1x,
              ./images/reviews/reviews_sm@2x.png 2x
            "
          />

          <img
            class="img reviews__img"
            src="./images/reviews/reviews_sm.png"
            alt="photo by Will"
            width="280px"
            height="280px"
          />
        </picture>

        <div class="reviews__rate" aria-label="five stars out of five">
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Will</h3>
      </div>

      <div class="reviews__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/reviews3_lg.png    1x,
              ./images/reviews/reviews3_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/reviews3_md.png    1x,
              ./images/reviews/reviews3_md@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/reviews3_lg.png"
            alt="photo by Elisabeth"
            width="152px"
            height="152px"
          />
        </picture>
        <div class="reviews__rate" aria-label="five stars out of five">
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Elisabeth</h3>
      </div>
    </div>
    <article class="reviews__comment">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly recommend it to everyone!
    </article>

    <span class="reviews__pagination">2/15</span>
  </div>
</section>
