<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="section-title reviews__title">Reviews</h2>
    <div class="reviews__list">
      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviews/reviews1_lg.webp    1x,
              ./images/reviews/reviews1_lg@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/reviews1_lg.png    1x,
              ./images/reviews/reviews1_lg@2x.png 2x
            "
          />

          <source
            srcset="
              ./images/reviews/reviews1_md.webp    1x,
              ./images/reviews/reviews1_md@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/reviews1_md.png    1x,
              ./images/reviews/reviews1_md@2x.png 2x
            "
          />

          <source
            srcset="
              ./images/reviews/reviews1_lg.webp    1x,
              ./images/reviews/reviews1_lg@2x.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./images/reviews/reviews1_lg.png    1x,
              ./images/reviews/reviews1_lg@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/reviews1_lg.png"
            alt="photo by John"
            loading="lazy"
          />
        </picture>
        <div
          class="reviews__rate"
          role="menu"
          aria-label="four stars out of five"
        >
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon--empty" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>
        <h3 class="reviews__name">John</h3>
      </div>

      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviews/reviews2_lg.webp    1x,
              ./images/reviews/reviews2_lg@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/reviews2_lg.png    1x,
              ./images/reviews/reviews2_lg@2x.png 2x
            "
          />

          <source
            srcset="
              ./images/reviews/reviews2_md.webp    1x,
              ./images/reviews/reviews2_md@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/reviews2_md.png    1x,
              ./images/reviews/reviews2_md@2x.png 2x
            "
          />

          <source
            srcset="
              ./images/reviews/reviews_sm.webp    1x,
              ./images/reviews/reviews_sm@2x.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./images/reviews/reviews_sm.png    1x,
              ./images/reviews/reviews_sm@2x.png 2x
            "
          />

          <img
            class="img reviews__img"
            src="./images/reviews/reviews_sm.png"
            alt="photo by Will"
            loading="lazy"
          />
        </picture>

        <div
          class="reviews__rate"
          role="menu"
          aria-label="five stars out of five"
        >
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Will</h3>
      </div>

      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviews/reviews3_lg.webp    1x,
              ./images/reviews/reviews3_lg@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/reviews3_lg.png    1x,
              ./images/reviews/reviews3_lg@2x.png 2x
            "
          />

          <source
            srcset="
              ./images/reviews/reviews3_md.webp    1x,
              ./images/reviews/reviews3_md@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/reviews3_md.png    1x,
              ./images/reviews/reviews3_md@2x.png 2x
            "
          />

          <source
            srcset="
              ./images/reviews/reviews3_lg.webp    1x,
              ./images/reviews/reviews3_lg@2x.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="
              ./images/reviews/reviews3_lg.png    1x,
              ./images/reviews/reviews3_lg@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/reviews3_lg.png"
            alt="photo by Elisabeth"
            loading="lazy"
          />
        </picture>
        <div
          class="reviews__rate"
          role="menu"
          aria-label="five stars out of five"
        >
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Elisabeth</h3>
      </div>

      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviews/best-person1.webp    1x,
              ./images/reviews/best-person1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/best-person1.png    1x,
              ./images/reviews/best-person1@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/best-person1.png"
            alt="photo by Alex-Taylor Danko"
            loading="lazy"
          />
        </picture>
        <div
          class="reviews__rate"
          role="menu"
          aria-label="five stars out of five"
        >
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Alex-Taylor Danko</h3>
      </div>

      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviews/best-person2.webp    1x,
              ./images/reviews/best-person2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/best-person2.png    1x,
              ./images/reviews/best-person2@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/best-person2.png"
            alt="photo by Valentyna Hanovska"
            loading="lazy"
          />
        </picture>
        <div
          class="reviews__rate"
          role="menu"
          aria-label="five stars out of five"
        >
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Valentyna Hanovska</h3>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviews/best-person3.webp    1x,
              ./images/reviews/best-person3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/best-person3.png    1x,
              ./images/reviews/best-person3@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/best-person3.png"
            alt="photo by Albina Bondar"
            loading="lazy"
          />
        </picture>
        <div
          class="reviews__rate"
          role="menu"
          aria-label="five stars out of five"
        >
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Albina Bondar</h3>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviews/best-person4.webp    1x,
              ./images/reviews/best-person4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/best-person4.png    1x,
              ./images/reviews/best-person4@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/best-person4.png"
            alt="photo by Oleksandr Kholod"
            loading="lazy"
          />
        </picture>
        <div
          class="reviews__rate"
          role="menu"
          aria-label="five stars out of five"
        >
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Oleksandr Kholod</h3>
      </div>
      <div class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviews/best-person5.webp    1x,
              ./images/reviews/best-person5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/best-person5.png    1x,
              ./images/reviews/best-person5@2x.png 2x
            "
          />
          <img
            class="img reviews__img"
            src="./images/reviews/best-person5.png"
            alt="photo byOleksandr Andriyash"
            loading="lazy"
          />
        </picture>
        <div
          class="reviews__rate"
          role="menu"
          aria-label="five stars out of five"
        >
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg class="reviews__icon" width="24" height="24">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>

        <h3 class="reviews__name">Oleksandr Andriyash</h3>
      </div>
    </div>
    <div class="reviews__comment">
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque
        dolores molestias ut asperiores voluptatum iusto deleniti adipisci.
        Voluptatum deserunt amet optio id accusamus ipsa corporis, at maxime
        velit odio.
      </p>
      <p>
        Good day everybody, Glory to Ukraine, Glory to the Heroes, cool site!
      </p>
      <p>I am Team-Lead of this project</p>
      <p>I am Scrum Master of this project</p>
      <p>I am developer of this project</p>
      <p>I am developer of this project</p>
      <p>I am developer of this project</p>
    </div>
  </div>
</section>
