<section>
  <h2>Reviews</h2>
  <div>
    <div>
      <picture>
        <img src="./images/reviews/reviews1_lg.png" alt="photo by John" />
      </picture>
      <svg width="136" height="24">
        <use href="./images/icons.svg#rate"></use>
      </svg>
      <h3>John</h3>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </p>
    </div>
    <div>
      <picture>
        <img src="./images/reviews/reviews_sm.png" alt="photo by Will" />
      </picture>

      <svg width="136" height="24">
        <use href="./images/icons.svg#rate"></use>
      </svg>

      <h3>Will</h3>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </p>
    </div>
    <div>
      <picture>
        <img src="./images/reviews/reviews3_lg.png" alt="photo by Elisabeth" />
      </picture>
      <svg width="136" height="24">
        <use href="./images/icons.svg#rate"></use>
      </svg>
      <h3>Elisabeth</h3>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </p>
    </div>
  </div>
</section>
