<section class="container speakers">
  <h2 class="section-title">Speakers</h2>
  <div class="speakers__two__cards">
    <div class="speakers__card">
      <img src="./images/speakers/speakers1_sm.png" alt="speaker 1" />
      <h3 class="name-title">Molly Rivera</h3>
      <p class="speakers__text">Pastry chef, master chocolatier of Spain</p>
    </div>
    <div class="speakers__card">
      <img src="./images/speakers/speakers2_md.png" alt="speaker 2" />
      <h3 class="name-title">Sophia Clark</h3>
      <p class="speakers__text">Сulinary school pastry chef</p>
    </div>
  </div>
  <div class="speakers__two__cards">
    <div class="speakers__card">
      <img src="./images/speakers/speakers3_md.png" alt="speaker 3" />
      <h3 class="name-title">Isabella Taylor</h3>
      <p class="speakers__text">Сonsultant in the art of confectionery</p>
    </div>
    <div class="speakers__card">
      <img src="./images/speakers/speakers4_sm.png" alt="speaker 4" />
      <h3 class="name-title">Evelyn Miller</h3>
      <p class="speakers__text">Master- chocolatier in Spain</p>
    </div>
  </div>
</section>
