<h2 class="section-title">Speakers</h2>
<section class="container speakers">
  <svg class="speakers__wave">
    <use href="./images/speakers/speaker_wave_sm.svg"></use>
  </svg>

  <div class="all__cards">
    <div class="speakers__two-cards">
      <div class="speakers__card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/speakers/speakers1_lg.png    1x,
              ./images/speakers/speakers1_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/speakers/speakers1_md.png    1x,
              ./images/speakers/speakers1_md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/speakers/speakers1_sm.png    1x,
              ./images/speakers/speakers1_sm@2x.png 2x
            "
          />
          <img
            class="img speakers__img"
            src="./images/speakers/speakers1_sm.png"
            alt="speakers1"
            width="130"
            height="130"
          />
        </picture>
        <h3 class="name-title">Molly Rivera</h3>
        <p class="speakers__text">Pastry chef, master chocolatier of Spain</p>
      </div>
      <div class="speakers__card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/speakers/speakers2_lg.png    1x,
              ./images/speakers/speakers2_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/speakers/speakers2_md.png    1x,
              ./images/speakers/speakers2_md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/speakers/speakers2_sm.png    1x,
              ./images/speakers/speakers2_sm@2x.png 2x
            "
          />
          <img
            class="img speakers__img"
            src="./images/speakers/speakers2_sm.png"
            alt="speakers2"
            width="130"
            height="130"
          />
        </picture>
        <h3 class="name-title">Sophia Clark</h3>
        <p class="speakers__text">Сulinary school pastry chef</p>
      </div>
    </div>
    <div class="speakers__two-cards">
      <div class="speakers__card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/speakers/speakers3_lg.png    1x,
              ./images/speakers/speakers3_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/speakers/speakers3_md.png    1x,
              ./images/speakers/speakers3_md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/speakers/speakers3_sm.png    1x,
              ./images/speakers/speakers3_sm@2x.png 2x
            "
          />
          <img
            class="img speakers__img"
            src="./images/speakers/speakers3_sm.png"
            alt="speakers3"
            width="130"
            height="130"
          />
        </picture>
        <h3 class="name-title">Isabella Taylor</h3>
        <p class="speakers__text">Сonsultant in the art of confectionery</p>
      </div>
      <div class="speakers__card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/speakers/speakers4_lg.png    1x,
              ./images/speakers/speakers4_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/speakers/speakers4_md.png    1x,
              ./images/speakers/speakers4_md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/speakers/speakers4_sm.png    1x,
              ./images/speakers/speakers4_sm@2x.png 2x
            "
          />
          <img
            class="img speakers__img"
            src="./images/speakers/speakers4_sm.png"
            alt="speakers4"
            width="130"
            height="130"
          />
        </picture>
        <h3 class="name-title">Evelyn Miller</h3>
        <p class="speakers__text">Master- chocolatier in Spain</p>
      </div>
    </div>
  </div>
</section>
