<section class="container speakers">
  <h2 class="title">Speakers</h2>
  <div class="speakers__two__cards">
    <div class="speakers__card">
      <img src="./images/speakers/speakers1_sm.png" alt="speaker 1" />
      <h2 class="subtitle">Molly Rivera</h2>
      <p class="speakers__text">Pastry chef, master chocolatier of Spain</p>
    </div>
    <div class="speakers__card">
      <img src="./images/speakers/speakers2_md.png" alt="speaker 2" />
      <h2 class="subtitle">Sophia Clark</h2>
      <p class="speakers__text">Сulinary school pastry chef</p>
    </div>
  </div>
  <div class="speakers__two__cards">
    <div class="speakers__card">
      <img src="./images/speakers/speakers3_md.png" alt="speaker 3" />
      <h2 class="subtitle">Isabella Taylor</h2>
      <p class="speakers__text">Сonsultant in the art of confectionery</p>
    </div>
    <div class="speakers__card">
      <img src="./images/speakers/speakers4_sm.png" alt="speaker 4" />
      <h2 class="subtitle">Evelyn Miller</h2>
      <p class="speakers__text">Master- chocolatier in Spain</p>
    </div>
  </div>
</section>
