.button {
  width: 145px;
  height: 40px;

  border-radius: 25px;
  border: none;

  text-align: center;

  color: var(--button-text-cl);
  background-color: var(--secondary-accent-cl);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  transition: background-color var(--transition-time) var(--transition-cubic),
    color var(--transition-time) var(--transition-cubic);
}

.button__link {
  text-decoration: none;
  display: block;
}

.button:hover,
.button:focus {
  color: var(--secondary-accent-cl);
  background-color: var(--main-text-cl);
}
