.button {
  width: 145px;
  height: 40px;

  border-radius: 25px;
  border: none;
  cursor: pointer;

  text-align: center;

  font-family: var(--main-font);
  @include font-size(18px, 23px);

  color: var(--button-text-cl);
  background-color: var(--secondary-accent-cl);

  transition: background-color var(--transition-time) var(--transition-cubic),
    color var(--transition-time) var(--transition-cubic),
    transform var(--transition-time) var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--button-text-cl);
    background-color: var(--button-hover-cl);

    animation: jello-horizontal 0.9s both;

    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }
}

.button__link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}
