.button {
  width: 145px;
  height: 40px;

  border-radius: 25px;
  border: none;

  text-align: center;

  color: #ffffff;
  background-color: #ab816c;
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__link {
  text-decoration: none;
  display: block;
}

.button:hover,
.button:focus {
  background-color: #2e2520;
  color: #ab816c;
}
