.container {
  margin-left: auto;
  margin-right: auto;

  @include media(mobile-only) {
    min-width: $mobile;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media(tablet-only) {
    width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include media(desktop) {
    width: $desktop;
    padding-left: 16px;
    padding-right: 16px;
  }
}
