.title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  color: var(--main-text-cl);

  @include media(mobile-only) {
    text-align: center;
  }

  @include media(desktop) {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.01;
    color: var(--main-text-cl);
  }
}

.header__subtitle {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}
