.main-title {
  font-family: var(--main-font);
  color: var(--main-text-cl);
  @include font-size(30px, 38px);

  width: 224px;

  @include media(mobile-only) {
    text-align: center;
    margin-top: 16px;
  }

  @include media(tablet-only) {
    margin-top: 24px;
  }

  @include media(desktop) {
    @include font-size(64px, 65px);
    margin-top: 0;

    width: 490px;
  }
}
