.subtitle {
  font-family: var(--main-font);
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main-text-cl);

  @include media(desktop) {
    font-size: 36px;
  }
}
