.socials-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.socials-list__link {
  transition: fill var(--transition-time) var(--transition-cubic);
}

.socials-list__link:hover,
.socials-list__link:focus .socials-list__icon {
  fill: var(--secondary-accent-cl);
}
