.socials__list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.socials__link {
  transition: fill var(--transition-time) var(--transition-cubic);
}

.socials__link:hover,
.socials__link:focus .socials__icon {
  fill: var(--secondary-accent-cl);
}
