.contact {
  padding-top: 16px;

  @include media(tablet-only) {
    padding-top: 40px;
  }

  @include media(desktop) {
    padding-top: 90px;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title--primary {
  margin-bottom: 16px;

  @include media(tablet) {
    margin-bottom: 20px;
  }
}

.contact__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.contact__group {
  position: relative;
}

.contact__input {
  min-width: 280px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #ab816c;
  outline: none;

  @include media(tablet-only) {
    min-width: 336px;
  }

  @include media(desktop) {
    min-width: 394px;
  }
}

.contact__input--first {
  margin-bottom: 20px;

  @include media(tablet) {
    margin-bottom: 16px;
  }
}

.contact__label {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);

  .contact__input:focus + &,
  .contact__input:not(:placeholder-shown) + & {
    transform: translateY(-15px);
    font-size: 14px;
  }
}

.contact__input--second {
  margin-bottom: 32px;
}

.contact__button {
  margin-bottom: 16px;
}
