.footer {
  padding-top: 16px;

  @include media(mobile-only) {
    padding-bottom: 46px;
  }

  @include media(tablet-only) {
    padding-bottom: 112px;
  }

  @include media(desktop) {
    padding-bottom: 232px;
  }
}

.footer__socials-list {
  display: flex;
  justify-content: center;

  @include media(mobile-only) {
    margin-bottom: 32px;
  }

  @include media(table-only) {
    margin-bottom: 60px;
  }

  @include media(desktop) {
    margin-bottom: 73px;
  }
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}
