.header {
  position: relative;
}

.header__subtitle {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

.header__logo {
  margin-bottom: 40px;
}

.nav__item {
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 0;
  }
}
