.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  background-color: var(--burger-bg-cl);
  backdrop-filter: blur(4px);

  &.is-open {
    display: block;
  }
}

.menu__container {
  max-width: 320px;
  height: 100%;
  padding: 25px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__btn {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 100;

  width: 30px;
  height: 16px;

  border: none;

  background-color: var(--burger-bg-cl);

  transition: fill var(--transition-time) var(--transition-cubic);

  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: var(--secondary-accent-cl);
  }

  & .menu__close {
    display: none;
  }
  &.is-open .menu__close {
    display: block;
  }
  &.is-open .menu__menu {
    display: none;
  }
}
