// .program {
//   width: 320px;
// }

.program__title {
  margin-bottom: 8px;
}

.program__text {
  margin-bottom: 8px;
}

.program__item {
  margin-bottom: 8px;
}

.program__item::before {
  content: '\003E  ';
}
.program-bottom {
  margin-bottom: 20px;
}

// .program-card {
//   display: flex;
// }

.program-card__list {
  display: flex;
  flex-wrap: wrap;
}

.program-card__item {
  width: 130px;
  height: 165px;
}

.program-card__item--bottom {
  background: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}
