.program__title {
  margin-bottom: 8px;
}

.program__text {
  margin-bottom: 8px;
}

.program__item::before {
  content: '> ';
}

// .program__group {
//   display: flex;
// }

// .program__list {
//   width: 130px;
//   height: 165px;
// }

.program__item--bottom {
  background: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}
