.program-container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 123px;
    margin-right: 123px;
    gap: 142px;
  }
}

.program-group {
  @media screen and (min-width: 768px) {
    max-width: 336px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 392px;
  }
}

.program__title {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.program__text {
  margin-bottom: 8px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.program__item {
  margin-bottom: 8px;

  &::before {
    content: '\003E  ';
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.program-button {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  border: none;
  color: var(--secondary-accent-cl);
  background-color: inherit;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.program-card__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 336px;
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    min-width: 500px;
  }
}

.program-card__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 130px;
  height: 165px;
  text-align: center;

  &:nth-child(2n + 1) {
    margin-bottom: 24px;
    margin-right: 20px;
  }

  &:nth-child(2n) {
    margin-top: 35px;
  }

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 184px;
  }

  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 220px;
  }
}

.program-card__img {
  position: absolute;
  top: 0;
}

.program-card__item--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 152px;
  }

  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 180px;
  }
}

.program-card__text {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.28;
  color: var(--donut-title-text-cl);

  @media screen and (min-width: 768px) {
    margin-bottom: 11px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.program-card__details {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.21;
  color: var(--donut-title-text-cl);
}

.program-card__icon {
  margin-bottom: 11px;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}
