.registration {
  @include media(mobile-only) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include media(tablet) {
    background-repeat: no-repeat;
    background-position: 0% -10%;
    background-attachment: scroll;
  }

  @include media(tablet-only) {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(../images/registration/registration1_md.png);
    background-image: url(../images/registration/registration1_md.webp);
    background-size: 200px;

    @include media(retina) {
      background-image: url(../images/registration/registration1_md@2x.png);
      background-image: url(../images/registration/registration1_md@2x.webp);
    }
  }

  @include media(desktop) {
    padding-top: 30px;
    padding-bottom: 90px;
    background-image: url(../images/registration/registration1_lg.png);
    background-image: url(../images/registration/registration1_lg.webp);

    @include media(retina) {
      background-image: url(../images/registration/registration1_lg@2x.png);
      background-image: url(../images/registration/registration1_lg@2x.webp);
    }
    background-position: 8% 10%;
    background-size: 250px;
  }
}

.tablet__title {
  padding-bottom: 20px;

  @include media(mobile-only) {
    display: none;
  }
  @include media(desktop) {
    padding-bottom: 16px;
  }
}

.registration__title {
  @include media(tablet) {
    display: none;
  }
}

.registration__form {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: var(--secondary-bg-cl);

  animation: wobble-hor-top 1s both;

  @include media(mobile-only) {
    width: 280px;

    padding: 32px 7px;

    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
      4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
  }

  @include media(tablet) {
    width: 704px;
    padding: 40px 61px;
    background: var(--secondary-bg-cl);
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
      4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
  }

  @include media(desktop) {
    width: 822px;
    padding: 40px 105px;
  }
}

.block {
  @include media(tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include media(tablet-only) {
    gap: 54px;
  }
}

.block__description {
  @include media(tablet) {
    display: flex;
    flex-direction: column;
  }
  @include media(tablet-only) {
    gap: 16px;
  }

  @include media(desktop) {
    margin-left: 64px;
    margin-right: 24px;
  }
}

.registration__data {
  position: relative;
  width: 114px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 32px;

  text-align: center;
  flex-wrap: wrap;

  font-family: var(--secondary-font);
  @include font-size(18px, 22px, 500);
  color: var(--main-text-cl);

  @include media(tablet) {
    width: 90px;
    flex-wrap: wrap;
  }

  &::after {
    content: '';
    position: absolute;
    top: 150%;
    right: 0%;
    transform: translatex(29%);
    display: block;
    width: 264px;
    margin-bottom: 8px;

    border: 1px solid var(--placeholder-text-cl);
    background-color: var(--placeholder-text-cl);

    @include media(tablet) {
      width: 154px;
      transform: rotate(90deg);
      left: 50%;
      top: 55%;
    }

    @include media(desktop) {
      width: 166px;
      top: 50%;
    }
  }
}

.registration__description {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  @include font-size(16px, 20px);
  color: var(--main-text-cl);

  text-align: center;

  @include media(tablet) {
    text-align: start;
    margin-bottom: 0;
  }
  @include media(desktop) {
    margin-bottom: 28px;
  }
}

.registration__group {
  display: flex;
  flex-direction: column;

  @include media(mobile-only) {
    gap: 22px;
  }
  @include media(tablet) {
    gap: 16px;
  }
  @include media(desktop) {
    gap: 14px;
  }
}

.registration__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  @include media(tablet) {
    margin-top: 0;
  }
}

.registration__field {
  position: relative;
}

.registration__input {
  width: 100%;

  color: var(--main-text-cl);
  background-color: var(--secondary-bg-cl);

  border: none;
  border-bottom: 1px solid var(--secondary-accent-cl);
  outline: none;

  @include media(tablet-only) {
    margin-bottom: 0;
  }
}

.registration__label {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  font-family: var(--secondary-font);
  @include font-size(16px, 20px);
  color: var(--placeholder-text-cl);
  transition: transform var(--transition-time) var(--transition-cubic);

  .registration__input:focus + &,
  .registration__input:not(:placeholder-shown) + & {
    transform: translateY(-15px);
    font-size: 14px;
  }
}
