.registration {
  @include media(mobile-only) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include media(tablet) {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(../images/registration/registration1_md.png);
  }
  @include media(retina) {
    background-image: url(../images/registration/registration1_md@2x.png);
  }
  background-repeat: no-repeat;
  background-position: 0% -17%;
  background-attachment: scroll;

  @include media(desktop) {
    padding-top: 30px;
    padding-bottom: 90px;
    background-image: url(../images/registration/registration1_lg.png);
    @include media(retina) {
      background-image: url(../images/registration/registration1_lg@2x.png);
    }
    background-position: 8% 10%;
  }
}

.tablet__title {
  padding-bottom: 20px;

  @include media(mobile-only) {
    display: none;
  }
  @include media(desktop) {
    padding-bottom: 16px;
  }
}

.registration__title {
  @include media(tablet) {
    display: none;
  }
}

.registration__form {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 7px;

  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;

  @include media(tablet) {
    width: 704px;
    padding: 40px 61px;
    background: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
      4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
  }

  @include media(desktop) {
    width: 822px;
    padding: 40px 105px;
  }
}

.block {
  @include media(tablet) {
    display: flex;
    flex-direction: row;
    gap: 54px;
    align-items: center;
    justify-content: center;
  }
  @include media(desktop) {
    gap: 0;
  }
}

.block__description {
  @include media(tablet) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @include media(desktop) {
    gap: 0;
    margin-left: 64px;
    margin-right: 24px;
  }
}

.registration__data {
  position: relative;
  width: 114px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 32px;

  text-align: center;
  flex-wrap: wrap;

  font-family: var(--secondary-font);
  @include font-size(18px, 22px, 500);
  color: var(--main-text-cl);

  @include media(tablet) {
    width: 90px;
    flex-wrap: wrap;
  }

  &::after {
    content: '';
    position: absolute;
    top: 150%;
    right: 0%;
    transform: translatex(29%);
    display: block;
    width: 264px;
    margin-bottom: 8px;

    border: 1px solid rgba(171, 129, 108, 0.5);
    background-color: rgba(171, 129, 108, 0.5);

    @include media(tablet) {
      width: 154px;
      transform: rotate(90deg);
      left: 50%;
      top: 55%;
    }

    @include media(desktop) {
      width: 166px;
      top: 45%;
    }
  }
}

.registration__description {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  @include font-size(16px, 20px);
  color: var(--main-text-cl);

  text-align: center;

  @include media(tablet) {
    text-align: start;
    margin-bottom: 0;
  }
  @include media(desktop) {
    margin-bottom: 28px;
  }
}

.registration__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  @include media(tablet) {
    margin-top: 0;
  }
}
.registration__field {
  position: relative;
}

.registration__input {
  width: 100%;
  margin-bottom: 22px;

  background-color: #fffff9;
  color: rgba(171, 129, 108, 0.5);
  border: none;
  border-bottom: 1px solid #ab816c;
  outline: none;

  @include media(tablet) {
    margin-bottom: 0;
  }
  @include media(desktop) {
    margin-bottom: 14px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.registration__label {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  font-family: var(--secondary-font);
  @include font-size(16px, 20px);
  color: rgba(171, 129, 108, 0.5);

  .registration__input:focus + &,
  .registration__input:not(:placeholder-shown) + & {
    transform: translateY(-15px);
    font-size: 14px;
  }
}

// .registration__input::placeholder {
//   font-family: var(--secondary-font);
//   @include font-size(16px, 20px);
//   color: rgba(171, 129, 108, 0.5);
// }
