.reviews {
  padding: 40px 0;
}

.reviews__title {
  margin-bottom: 20px;
}

.reviews__list {
  display: flex;
  margin: 0 auto;

  @include media(mobile-only) {
    flex-direction: column;

    max-width: 320px;
  }

  @include media(tablet) {
    max-width: 758px;
  }

  @include media(tablet-only) {
    justify-content: space-between;
    // height: 466px;
  }

  @include media(desktop) {
    justify-content: space-evenly;

    max-width: 1030px;
  }
}

@keyframes star-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.reviews__item {
  display: block;
  margin-left: 16px;
  margin-right: 16px;

  transition: transform var(--transition-time) var(--transition-cubic);

  &:hover,
  &:focus {
    transform: scale(1.1);

    .reviews__icon {
      animation-name: star-scale;
      animation-duration: var(--transition-time);
      animation-timing-function: var(--transition-cubic);
      animation-iteration-count: 1;
    }
  }
}

.reviews__img {
  margin-bottom: 8px;

  @include media(tablet-only) {
    width: 152px;
    height: 152px;
  }

  @include media(desktop) {
    width: 288px;
    height: 288px;
  }
}

.slick-current .reviews__img {
  @include media(mobile-only) {
    width: 280px;
    height: 280px;
  }

  @include media(tablet-only) {
    width: 336px;
    height: 336px;
    padding-top: 30px;
  }

  @include media(desktop) {
    width: 394px;
    height: 394px;
    padding-top: 60px;
  }
}

.reviews__rate {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}

.reviews__icon {
  fill: #ab816c;
}

.reviews__icon--empty {
  fill: none;
}

.reviews__name {
  font-style: italic;
  @include font-size(14px, 17px, 500);

  @include media(mobile-only) {
    margin-bottom: 8px;
  }

  @include media(tablet) {
    margin-bottom: 20px;
  }
}

.reviews__comment {
  margin-bottom: 32px;
  text-align: center;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;

  &::after,
  &::before {
    content: '';
    width: 35px;
    height: 1px;
    background-color: #ab816c;
  }
}

.slick-dots > li > button {
  background-color: transparent;
  border: none;
  line-height: calc(20 / 16);
  color: #ab816c;

  &::after {
    content: '/5';
  }
}
.slick-dots > li {
  display: none;

  &.slick-active {
    display: contents;
  }
}
