.reviews {
  padding: 40px 0;
}

.reviews__title {
  margin-bottom: 20px;
}

.reviews__list {
  display: flex;
  margin: 0 auto;

  @include media(mobile-only) {
    width: 342px;
  }

  @include media(tablet-only) {
    width: 400px;
  }

  @include media(desktop) {
    max-width: 1030px;
  }
}

.reviews__item {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(mobile-only) {
    margin-left: 16px;
    margin-right: 16px;
  }

  @include media(desktop) {
    margin-left: 16px;
    margin-right: 16px;
  }

  transition: transform var(--transition-time) var(--transition-cubic);

  &:hover,
  &:focus {
    transform: scale(0.8);

    .reviews__icon {
      animation-name: star-scale;
      animation-duration: var(--transition-time);
      animation-timing-function: var(--transition-cubic);
      animation-iteration-count: 1;
    }
  }
}

.reviews__img {
  margin-bottom: 8px;

  @include media(tablet-only) {
    width: 152px;
  }

  @include media(desktop) {
    width: 288px;
  }
}

.reviews__rate {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 8px;
}

.reviews__icon {
  fill: var(--secondary-accent-cl);
}

.reviews__icon--empty {
  fill: none;
}

.reviews__name {
  display: flex;
  justify-content: center;

  font-style: italic;
  @include font-size(14px, 17px, 500);

  @include media(mobile-only) {
    margin-bottom: 8px;
  }

  @include media(tablet) {
    margin-bottom: 20px;
  }
}

.reviews__comment {
  text-align: center;
}

.slick-slide {
  @include media(tablet) {
    top: 0;
    transform: scale(0.6);
  }

  @include media(desktop) {
    transform: scale(0.731);
  }
}

.slick-current.reviews__item {
  transition: transform var(--transition-time) var(--transition-cubic);

  transform: scale(1);
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0;

  &::after,
  &::before {
    content: '';
    width: 35px;
    height: 1px;
    background-color: var(--secondary-accent-cl);
  }
}

.slick-dots > li > button {
  background-color: transparent;
  border: none;
  line-height: calc(20 / 16);
  color: var(--secondary-accent-cl);

  &::after {
    content: '/8';
  }
}
.slick-dots > li {
  display: none;

  &.slick-active {
    display: contents;
  }
}
