.speakers {
  background-color: var(--main-accent-cl);
  border-radius: 0px 0px 40px 40px;
}

.all__cards {
  display: flex;
  flex-direction: column;
  padding-top: 82px;

  @include media(desktop) {
    padding: 179px 0 40px;
    justify-content: center;
    flex-direction: row;
  }
  @include media(tablet-only) {
    padding-top: 122px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.speakers__two-cards {
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin: 32px 0 29px;
  }

  @include media(desktop) {
    &:last-child {
      margin: 0;
    }
  }
  @include media(tablet-only) {
    &:last-child {
      margin: 0;
    }
  }
}

.speakers__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    margin: 32px 52px 0;
  }

  @include media(tablet-only) {
    margin: 0;

    &:nth-child(2) {
      margin-left: 32px;
    }
  }
}

.name-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-top: 12px;
  @include media(tablet-only) {
    margin-top: 20px;
  }
}

.speakers__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  margin-top: 12px;
  max-width: 120px;
  @include media(tablet-only) {
    margin-top: 20px;
  }
}
.section-title {
  @include media(tablet-only) {
    text-align: center;
    margin-bottom: 2px;
  }
  @include media(desktop) {
    text-align: center;
  }
}

.speakers__img {
  @include media(tablet-only) {
    width: 152px;
    height: 152px;
  }
  @include media(desktop) {
    width: 181px;
    height: 181px;
  }
}
